<h1>Create a new Song</h1>

<form action="/songs/new" method="POST">
  <label for="Name">Name:</label>
  <br>
  <input type="text" name="Name" id="Name">

  <br>

  <h3>Genres</h3>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input><br>
  <% end %>

  <h3>Existing Artists</h3>
  <% @artists.each do |artist| %>
    <input type="checkbox" name="artists[]" id="<%= artist.name %>" value="<%= artist.id %>"><%= artist.name %></input><br>
  <% end %>


  <h3>Artist</h3>
  <label>Artist Name:</label>
    <input type="text" name="Artist Name" id="artist_name"></input>
  <input type="submit" value="Create">
</form>